Repository tunnckoCoreLabs/execa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --quiet --format codeframe, prettier --write

.lintstagedrc:

{
  "**/*.{js,ts,tsx,es6,jsx,mjs}": [
    "eslint --cache --fix --quiet --format codeframe",
    "git add"
  ],
  "**/*.{js,ts,tsx,es6,jsx,mjs,md,mdx,json,yaml,yml,toml}": [
    "prettier --write",
    "git add"
  ]
}

fix: add readme
  README.md
Due: prettier --write

chore: foo, trigger codecov
  .foo
Due: none

fix: duh... was accidentaly remove NYC reporters
  .foo
  .nycrc.json
Due: prettier --write

feat: minor tweaks and configs
  .circleci/config.yml
  .eslintrc.js
  .huskyrc.js
  .lintstagedrc
  .nycrc.json
  .prettierrc.js
  .verb.md
  README.md
  package.json
  yarn.lock
Due: eslint --cache --fix --quiet --format codeframe, prettier --write

fix: meta
  .huskyrc.js
  package.json
Due: eslint --cache --fix --quiet --format codeframe, prettier --write

chore(deps): update dependency @tunnckocore/config to ^0.5.0
  package.json
  yarn.lock
Due: prettier --write

fix: run update
  .verb.md
  CONTRIBUTING.md
  README.md
  index.js
  package.json
  yarn.lock
Due: eslint --cache --fix --quiet --format codeframe, prettier --write

chore(deps): update dependency @tunnckocore/config to v1
  package.json
  yarn.lock
Due: prettier --write

feat: run update
  .circleci/config.yml
  .eslintrc.js
  .huskyrc.js
  .nycrc.json
  .prettierrc.js
  .verb.md
  README.md
  package.json
  test/index.js
  test/snapshots/index.snapshot.json
  yarn.lock
Due: eslint --cache --fix --quiet --format codeframe, prettier --write

fix: typo
  package.json
Due: prettier --write

fix: ci tweaks
  .circleci/config.yml
Due: prettier --write

fix: ci typo up
  .circleci/config.yml
Due: prettier --write

fix: mini tweaks
  .circleci/config.yml
  package.json
Due: prettier --write

fix(deps): update dependency p-map-series to v2
  package.json
  yarn.lock
Due: prettier --write

feat: switch to execa v2 alpha
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .npmrc
  .prettierignore
  .prettierrc.js
  .verb.md
  README.md
  package.json
  src/index.js
  test/index.js
  yarn.lock
Due: eslint --cache --fix --quiet --format codeframe, prettier --write

chore: update npm scripts
  package.json
Due: prettier --write

chore: ci - install nyc on ci
  .circleci/config.yml
Due: prettier --write

feat: force update
  package.json
  yarn.lock
Due: prettier --write

chore(ci): only send coverage when node current
  .circleci/config.yml
Due: prettier --write

fix: force update
  package.json
  yarn.lock
Due: prettier --write

chore: dooooooooh
  .circleci/config.yml
Due: prettier --write

fix(ci): updates
  .circleci/config.yml
Due: prettier --write

fix(deps): update dependency execa to v3
  package.json
  yarn.lock
Due: prettier --write
